.body {
    display: flex;
    flex-direction: column;
    width: calc(100% - 153px);
    height: 100%;

    overflow: scroll;

    .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        background-color: #1e5c3a;

        border-bottom: 3px solid #50c878;

        .headerTitle {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            margin-left: 20px;
            font-size: 26px;
        }

        .saveOff {
            font-size: 20px;
            width: 200px;
            height: 50px;
          
            cursor: pointer;
            padding: 3px 10px;
            color: black;
            border: 2px solid #000000;
            border-radius: 5px;
                  
            font-weight: normal;
            transition: .1s ease;

            margin-right: 20px;
          }
                  
          .saveOff:active {
            color: white;
            border: 2px solid white;
            background-color: black;
            font-weight: normal;
            margin-right: 20px;
          }

          .saveOn {
            opacity: .5;
            font-size: 20px;
            width: 200px;
            height: 50px;
          
            cursor: pointer;
            padding: 3px 10px;
            color: black;
            border: 2px solid #000000;
            border-radius: 5px;
                  
            font-weight: normal;
            transition: .1s ease;

            margin-right: 20px;
          }
    }

    .list {
        flex: 1;

        .line {
            display: flex;
            align-items: center;

            width: 100%;
            height: 150px;
            border-bottom: 3px solid #50c878;

            
            .lineImg {
                border: 3px solid #50c878;
                border-radius: 20px;
                margin-left: 20px;
                width: 130px;
                height: 130px;
            }

            .lineDesc {
                margin-left: 20px;
                max-width: calc(80% - 200px);
                word-break: break-all;
                max-height: 90%;
                font-size: 20px;

                overflow-y: scroll;
            }

            .chooseOn{
                margin-left: 20px;
                cursor: pointer;
                display: block;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                background-color: #50c878;
                border: 3px solid #1e5c3a;
            }
            .chooseOff{
                margin-left: 20px;
                cursor: pointer;
                display: block;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                border: 3px solid #50c878;

                transition: .2s ease;
            }
        }
    }
}